Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

===========================================

In [1]:
# string variable
string_var = "I am a string"

# list variable
list_var = ["1", 1, 2.5, "Dev"]

# float variable
float_var = 5.6

# tuple variable
tuple_var = (1,2,4)

print(type(string_var))
print(type(list_var))
print(type(float_var))
print(type(tuple_var))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

------------

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

===========================================

In [2]:
var1 = ''
var2 = '[ DS,ML,Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1


print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

----------------

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

===========================================

In [3]:
#(i) / : Division. This is used to devide 2 numbers. 
#Example : 
print(4 / 2)

#(ii) % : Modulus. This is used to find the remainder. 
#Example : 
print(5 % 2)

#(iii) // : Floor division. This rounds the result down to the nearest whole number :
#Example 
print(7 // 2)

#(iv) ** : Exponentiation. 
#Example 
print(2**3)

2.0
1
3
8

--------------------

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

===========================================

In [4]:
#Define the list
my_list1 = [1,5.2,"Dev",[1,2,3],("Dog","Cat","Lion"),3+5j,True,{"color" : "Red"},12,6.7778]
print("Length of the list : ",len(my_list1))

#Print the elements of the list
for i in my_list1 :
    print(i)

Length of the list :  10
1
5.2
Dev
[1, 2, 3]
('Dog', 'Cat', 'Lion')
(3+5j)
True
{'color': 'Red'}
12
6.7778

------------------------------------

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

==========================================

In [5]:
a = 100
a1 = a
b = 2
counter = 0
while a1 % b == 0 :
    counter += 1
    a1 /= b

if counter > 0 :
    print (f"{a} is divisible by {b} and can be divided {counter} times")
else:
    print(f"{a} is not divisible by {b}")

100 is divisible by 2 and can be divided 2 times

------------

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

==========================================

In [6]:
import random
my_list1 = []
for i in range(25):
    my_list1.append((random.randint(0,100)))

for num in my_list1 :
    if num % 3 == 0 :
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

31 is not divisible by 3
25 is not divisible by 3
99 is divisible by 3
100 is not divisible by 3
2 is not divisible by 3
94 is not divisible by 3
80 is not divisible by 3
61 is not divisible by 3
5 is not divisible by 3
10 is not divisible by 3
71 is not divisible by 3
53 is not divisible by 3
63 is divisible by 3
34 is not divisible by 3
36 is divisible by 3
63 is divisible by 3
99 is divisible by 3
15 is divisible by 3
4 is not divisible by 3
73 is not divisible by 3
28 is not divisible by 3
81 is divisible by 3
65 is not divisible by 3
32 is not divisible by 3
14 is not divisible by 3

________________

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

==========================================

Immutable : Values or Elements of an objects can not be changed.

Example values inside a string can not be changed.

Let's declare a string variable name = "Devjyoti".

Here I can not change value at 2nd index "v" to "b". Instead I have to assign value "Debjyoti" as a whole to variable name to get this changed"

==========================================

Mutable : Values or Elements of an objects can be changed

Example values inside a list can be changed.

Let's declare a list variable my_list = ["Dev",25, 30]

Here I can change the value "Dev" at zeroth index to 20

--------------------------------